[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/cpp-channel"]
	path = 3rdparty/cpp-channel
	url = https://github.com/andreiavrammsd/cpp-channel.git
